.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  & img {
      width: 48px;
      height: 48px;
  }
}

@media only screen and (max-width: 600px) {
  .avatar {
    img {
      width: 35px;
      height: 35px;
    }
  }
  .container {
    font-size: 14px;
  }
}