.container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 20%;
  height: 550px;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 5px;
}

.list {
  height: 500px;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 5px;
}

.item {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: start;
}

@media only screen and (max-width: 420px) {
  .container {
    width: 320px;
    margin-bottom: 10px;
  }

  .list {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .item {
    width: 33%;
  }
}

@media only screen and (min-width: 420px) {
  .container {
    width: 390px;
    margin-bottom: 10px;
  }

  .list {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .item {
    width: 30%;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    width: 510px;
    margin-bottom: 10px;
  }

  .list {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .item {
    width: 30%;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 555px;
    margin-bottom: 10px;
  }

  .list {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .item {
    width: 30%;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 20%;
  }

  .list {
    height: 500px;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}