.panelWrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
    width: 95%;
    box-sizing: border-box;
    height: 60px;
    border-bottom: none;
}

.attemptsBlock {
    display: flex;
    border: 1px solid gray;
    & button {
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border: 1px solid gray;
        background-color: white;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: rgb(190, 197, 217);
        }
    }
}

.countInput {
    width: 40px;
    height: 30px;
    box-sizing: border-box;
    border: none;
}