.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;

  img {
    width: 32px;
    height: 32px;
  }

  &:hover {
    background-color: rgb(190, 197, 217);
    border-radius: 10px;

    img {
      width: 35px;
      height: 35px;
    }
  }
}