.Wrapper {
  width: 60%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid gray;

}
