.adminPageWrapper {
    width: 60%;
    height: 90%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid gray;
}

.adminPageContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 420px) {
    .adminPageWrapper {
        width: 95%;
        height: 90vh;
    }

    .adminPageContainer {
        flex-direction: column;
        width: 100%;
    }
}

@media only screen and (min-width: 420px) {
    .adminPageWrapper {
        width: 95%;
        height: 90vh;
    }

    .adminPageContainer {
        flex-direction: column;
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .adminPageWrapper {
        width: 85%;
    }

    .adminPageContainer {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .adminPageWrapper {
        width: 65%;
    }

    .adminPageContainer {
        width: 100%;
    }
}