.item {
  width: 35px;
  height: 35px;
  color: white;
  font-size: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    border: 1px solid red;
  }
  img {
    width: 30px;
    height: 30px;
  }
}

.closedItem {
  width: 35px;
  height: 35px;
  color: white;
  font-size: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  box-sizing: border-box;

  img {
    width: 30px;
    height: 30px;
  }
}

.closedMap {
  cursor: default;
  &:hover {
    border: 1px solid white;;
  }
}