.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  color: rgb(90, 90, 87);
  border-radius: 7px;
  width: 90%;
  margin-top: 5px;
  background-color: white;
  box-shadow: 1px 1px 1px gray;
  cursor: pointer;
  &:hover {
    background-color: rgb(190, 197, 217);
    color: white;
  }
}

.activeItem {
  background-color: rgb(190, 197, 217);
  color: white;
}