.container {
  width: 10%;
  height: 90%;
  box-sizing: border-box;
  background-color: white;
  border-radius: 20px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.sideBarItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}