.container {
  width: 120px;
  height: 90%;
  box-sizing: border-box;
  background-color: white;
  border-radius: 20px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sideBarItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 420px) {
  .container {
    margin-top: 5px;
    width: 95%;
    height: 100px;
    flex-direction: row;
  }

  .sideBarItems {
    flex-direction: row;
  }
}

@media only screen and (min-width: 420px) {
  .container {
    margin-top: 5px;
    width: 95%;
    height: 100px;
    flex-direction: row;
  }

  .sideBarItems {
    flex-direction: row;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    margin-top: 5px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 120px;
    height: 90%;
    flex-direction: column;
  }

  .sideBarItems {
    flex-direction: column;
  }
}