.formWrapper {
    display: flex;
    flex-direction: column;
    width: 270px;
}

.text {
    font-size: 36px;
    color: gray;
}

.submitBtn {
    margin-top: 20px;
    height: 30px;
    color: white;
    background-color: rgb(190, 197, 217);
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;

    &:hover {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }
}

.error {
    width: 270px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-top: 10px;
}